In [17]:
import pandas as pd
import numpy as np

In [16]:
help(pd.DataFrame.agg)

Help on function aggregate in module pandas.core.frame:

aggregate(self, func, axis=0, *args, **kwargs)
    Aggregate using one or more operations over the specified axis.

    .. versionadded:: 0.20.0

    Parameters
    ----------
    func : function, str, list or dict
        Function to use for aggregating the data. If a function, must either
        work when passed a DataFrame or when passed to DataFrame.apply.

        Accepted combinations are:

        - function
        - string function name
        - list of functions and/or function names, e.g. ``[np.sum, 'mean']``
        - dict of axis labels -> functions, function names or list of such.
    axis : {0 or 'index', 1 or 'columns'}, default 0
            If 0 or 'index': apply function to each column.
            If 1 or 'columns': apply function to each row.
    *args
        Positional arguments to pass to `func`.
    **kwargs
        Keyword arguments to pass to `func`.

    Returns
    -------
    scalar, Series or DataFrame

        The return can be:

        * scalar : when Series.agg is called with single function
        * Series : when DataFrame.agg is called with a single function
        * DataFrame : when DataFrame.agg is called with several functions

        Return scalar, Series or DataFrame.

    The aggregation operations are always performed over an axis, either the
    index (default) or the column axis. This behavior is different from
    `numpy` aggregation functions (`mean`, `median`, `prod`, `sum`, `std`,
    `var`), where the default is to compute the aggregation of the flattened
    array, e.g., ``numpy.mean(arr_2d)`` as opposed to
    ``numpy.mean(arr_2d, axis=0)``.

    `agg` is an alias for `aggregate`. Use the alias.

    See Also
    --------
    DataFrame.apply : Perform any type of operations.
    DataFrame.transform : Perform transformation type operations.
    core.groupby.GroupBy : Perform operations over groups.
    core.resample.Resampler : Perform operations over resampled bins.
    core.window.Rolling : Perform operations over rolling window.
    core.window.Expanding : Perform operations over expanding window.
    core.window.EWM : Perform operation over exponential weighted
        window.

    Notes
    -----
    `agg` is an alias for `aggregate`. Use the alias.

    A passed user-defined-function will be passed a Series for evaluation.

    Examples
    --------
    >>> df = pd.DataFrame([[1, 2, 3],
    ...                    [4, 5, 6],
    ...                    [7, 8, 9],
    ...                    [np.nan, np.nan, np.nan]],
    ...                   columns=['A', 'B', 'C'])

    Aggregate these functions over the rows.

    >>> df.agg(['sum', 'min'])
            A     B     C
    sum  12.0  15.0  18.0
    min   1.0   2.0   3.0

    Different aggregations per column.

    >>> df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})
            A    B
    max   NaN  8.0
    min   1.0  2.0
    sum  12.0  NaN

    Aggregate over the columns.

    >>> df.agg("mean", axis="columns")
    0    2.0
    1    5.0
    2    8.0
    3    NaN
    dtype: float64

In [108]:
grp=np.repeat([1,2,3],5)

In [109]:
grp

array([1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3])

In [110]:
subgrp=np.repeat([1,2,3,4,5], 3)

In [111]:
subgrp

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5])

In [112]:
seq=np.arange(1,16)

In [113]:
seq

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [114]:
item = [chr(i) for i in range(97,97+15)]

In [115]:
item

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']

In [116]:
qty=[10,8,7,4,5,3,2,8,9,5,1,0,4,5,3]

In [117]:
len(qty)

15

In [118]:
import datetime
import math

In [119]:
today=datetime.date.today()

In [120]:
today.strftime('%Y-%m-%d')

'2020-07-11'

In [99]:
type(today)

datetime.date

In [100]:
today+datetime.timedelta(days=1)

datetime.date(2020, 7, 12)

In [129]:
dtm=[(today+datetime.timedelta(days=math.ceil(i/3))) for i in range(0,15)]

In [130]:
df=pd.DataFrame({"grp":grp,"subgrp":subgrp,"seq":seq,"item":item,"qty":qty,"dtm":dtm})

In [134]:
df

    grp  subgrp  seq item  qty         dtm
0     1       1    1    a   10  2020-07-11
1     1       1    2    b    8  2020-07-12
2     1       1    3    c    7  2020-07-12
3     1       2    4    d    4  2020-07-12
4     1       2    5    e    5  2020-07-13
5     2       2    6    f    3  2020-07-13
6     2       3    7    g    2  2020-07-13
7     2       3    8    h    8  2020-07-14
8     2       3    9    i    9  2020-07-14
9     2       4   10    j    5  2020-07-14
10    3       4   11    k    1  2020-07-15
11    3       4   12    l    0  2020-07-15
12    3       5   13    m    4  2020-07-15
13    3       5   14    n    5  2020-07-16
14    3       5   15    o    3  2020-07-16

In [135]:
df.dtypes

grp        int64
subgrp     int64
seq        int64
item      object
qty        int64
dtm       object
dtype: object

In [138]:
type(df["dtm"][0])

datetime.date

In [139]:
df.agg(['sum', 'mean', 'min', 'max','count'])

        grp  subgrp    seq             item        qty         dtm
sum    30.0    45.0  120.0  abcdefghijklmno  74.000000         NaN
mean    2.0     3.0    8.0              NaN   4.933333         NaN
min     1.0     1.0    1.0                a   0.000000  2020-07-11
max     3.0     5.0   15.0                o  10.000000  2020-07-16
count  15.0    15.0   15.0               15  15.000000          15

In [148]:
df.groupby(["grp"]).agg(['sum', 'mean', 'min', 'max','count'])

    subgrp                    seq                    qty
       sum mean min max count sum mean min max count sum mean min max count
grp
1        7  1.4   1   2     5  15    3   1   5     5  34  6.8   4  10     5
2       15  3.0   2   4     5  40    8   6  10     5  27  5.4   2   9     5
3       23  4.6   4   5     5  65   13  11  15     5  13  2.6   0   5     5

In [155]:
df.groupby(["grp"])[['item']].agg([min,len,max,sum,list])

    item
     min len max    sum             list
grp
1      a   5   e  abcde  [a, b, c, d, e]
2      f   5   j  fghij  [f, g, h, i, j]
3      k   5   o  klmno  [k, l, m, n, o]

In [154]:
df.groupby(["grp","subgrp"])[['item']].agg([min,len,max,sum,list])

           item
            min len max  sum       list
grp subgrp
1   1         a   3   c  abc  [a, b, c]
    2         d   2   e   de     [d, e]
2   2         f   1   f    f        [f]
    3         g   3   i  ghi  [g, h, i]
    4         j   1   j    j        [j]
3   4         k   2   l   kl     [k, l]
    5         m   3   o  mno  [m, n, o]

In [158]:
df.groupby(["grp","subgrp"]).agg({'qty': [sum, min, max]})

           qty
           sum min max
grp subgrp
1   1       25   7  10
    2        9   4   5
2   2        3   3   3
    3       19   2   9
    4        5   5   5
3   4        1   0   1
    5       12   3   5

In [160]:
df.groupby(["grp","subgrp"]).agg({'qty': [sum, min, max],'dtm': [min, max]})

           qty                 dtm
           sum min max         min         max
grp subgrp
1   1       25   7  10  2020-07-11  2020-07-12
    2        9   4   5  2020-07-12  2020-07-13
2   2        3   3   3  2020-07-13  2020-07-13
    3       19   2   9  2020-07-13  2020-07-14
    4        5   5   5  2020-07-14  2020-07-14
3   4        1   0   1  2020-07-15  2020-07-15
    5       12   3   5  2020-07-15  2020-07-16

In [162]:
df.groupby(["grp"]).agg({'qty': [sum, min, max],'dtm': [min, max]})

    qty                 dtm
    sum min max         min         max
grp
1    34   4  10  2020-07-11  2020-07-13
2    27   2   9  2020-07-13  2020-07-14
3    13   0   5  2020-07-15  2020-07-16

In [163]:
def myFuncMinModMax(x):
    return min(x) / max(x)

In [164]:
df.groupby(["grp"]).agg({'qty': [sum, min, max,myFuncMinModMax],'dtm': [min, max]})

    qty                                 dtm
    sum min max myFuncMinModMax         min         max
grp
1    34   4  10        0.400000  2020-07-11  2020-07-13
2    27   2   9        0.222222  2020-07-13  2020-07-14
3    13   0   5        0.000000  2020-07-15  2020-07-16