In [1]:
from more_itertools import *
import numpy as np
import pandas as pd

/home/kuraine/.local/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
help(ncycles)

Help on function ncycles in module more_itertools.recipes:

ncycles(iterable, n)
    Returns the sequence elements *n* times

    >>> list(ncycles(["a", "b"], 3))
    ['a', 'b', 'a', 'b', 'a', 'b']

### 複数

- スカラ

In [3]:
list(ncycles("男女",3))

['男', '女', '男', '女', '男', '女']

- リスト

In [4]:
list(ncycles(["男","女"],3))

['男', '女', '男', '女', '男', '女']

- タプル

In [5]:
list(ncycles(("男","女"),3))

['男', '女', '男', '女', '男', '女']

- 辞書

In [6]:
list(ncycles({"男":1,"女":2},3))

['男', '女', '男', '女', '男', '女']

In [7]:
list(ncycles({1:"男",2:"女"},3))

[1, 2, 1, 2, 1, 2]

- エヌダレイ

In [8]:
[ chr(i) for i in range(12354,12360)]

['あ', 'ぃ', 'い', 'ぅ', 'う', 'ぇ']

In [9]:
a = np.array([ chr(i) for i in range(12354,12360)],dtype="object")

In [10]:
type(a)

numpy.ndarray

In [11]:
a

array(['あ', 'ぃ', 'い', 'ぅ', 'う', 'ぇ'], dtype=object)

In [12]:
list(ncycles(a,3))

['あ',
 'ぃ',
 'い',
 'ぅ',
 'う',
 'ぇ',
 'あ',
 'ぃ',
 'い',
 'ぅ',
 'う',
 'ぇ',
 'あ',
 'ぃ',
 'い',
 'ぅ',
 'う',
 'ぇ']

- シリーズ

In [13]:
s=pd.Series([ chr(i) for i in range(12360,12365)])

In [14]:
type(s)

pandas.core.series.Series

In [15]:
s

0    え
1    ぉ
2    お
3    か
4    が
dtype: object

In [16]:
list(ncycles(s,3))

['え', 'ぉ', 'お', 'か', 'が', 'え', 'ぉ', 'お', 'か', 'が', 'え', 'ぉ', 'お', 'か', 'が']

- データフレーム（複数列）

In [17]:
df_tmp = pd.DataFrame([[ chr(i) for i in range(12360,12365)],[ chr(i) for i in range(12370,12375)]])

In [18]:
type(df_tmp)

pandas.core.frame.DataFrame

In [19]:
df = df_tmp.T
df.columns=["k","v"]

In [20]:
df

   k  v
0  え  げ
1  ぉ  こ
2  お  ご
3  か  さ
4  が  ざ

In [21]:
list(ncycles(df,3))

['k', 'v', 'k', 'v', 'k', 'v']

In [22]:
df[["k","v"]]

   k  v
0  え  げ
1  ぉ  こ
2  お  ご
3  か  さ
4  が  ざ

In [23]:
type(df[["k","v"]])

pandas.core.frame.DataFrame

In [24]:
list(ncycles(df[["k","v"]],3))

['k', 'v', 'k', 'v', 'k', 'v']

### 単一

- スカラ

In [25]:
list(ncycles("男",3))

['男', '男', '男']

- リスト

In [26]:
list(ncycles(["男"],3))

['男', '男', '男']

- タプル

In [27]:
list(ncycles(("男"),3))

['男', '男', '男']

- 辞書

In [28]:
list(ncycles({"男":1},3))

['男', '男', '男']

In [29]:
list(ncycles({1:"男"},3))

[1, 1, 1]

- エヌダレイ

In [30]:
[ chr(i) for i in range(12354,12355)]

['あ']

In [31]:
a = np.array([ chr(i) for i in range(12354,12355)],dtype="object")

In [32]:
type(a)

numpy.ndarray

In [33]:
a

array(['あ'], dtype=object)

In [34]:
list(ncycles(a,3))

['あ', 'あ', 'あ']

- データフレーム（単一列）

In [35]:
df[["k"]]

   k
0  え
1  ぉ
2  お
3  か
4  が

In [36]:
type(df[["k"]])

pandas.core.frame.DataFrame

In [37]:
list(ncycles(df[["k"]],3))

['k', 'k', 'k']