In [20]:
from more_itertools import *
import numpy as np
import pandas as pd

/home/kuraine/.local/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
help(substrings)

Help on function substrings in module more_itertools.more:

substrings(iterable)
    Yield all of the substrings of *iterable*.

        >>> [''.join(s) for s in substrings('more')]
        ['m', 'o', 'r', 'e', 'mo', 'or', 're', 'mor', 'ore', 'more']

    Note that non-string iterables can also be subdivided.

        >>> list(substrings([0, 1, 2]))
        [(0,), (1,), (2,), (0, 1), (1, 2), (0, 1, 2)]

In [5]:
substrings('うんこもりもり森鴎外')

In [6]:
list(substrings('うんこもりもり森鴎外'))

[('う',),
 ('ん',),
 ('こ',),
 ('も',),
 ('り',),
 ('も',),
 ('り',),
 ('森',),
 ('鴎',),
 ('外',),
 ('う', 'ん'),
 ('ん', 'こ'),
 ('こ', 'も'),
 ('も', 'り'),
 ('り', 'も'),
 ('も', 'り'),
 ('り', '森'),
 ('森', '鴎'),
 ('鴎', '外'),
 ('う', 'ん', 'こ'),
 ('ん', 'こ', 'も'),
 ('こ', 'も', 'り'),
 ('も', 'り', 'も'),
 ('り', 'も', 'り'),
 ('も', 'り', '森'),
 ('り', '森', '鴎'),
 ('森', '鴎', '外'),
 ('う', 'ん', 'こ', 'も'),
 ('ん', 'こ', 'も', 'り'),
 ('こ', 'も', 'り', 'も'),
 ('も', 'り', 'も', 'り'),
 ('り', 'も', 'り', '森'),
 ('も', 'り', '森', '鴎'),
 ('り', '森', '鴎', '外'),
 ('う', 'ん', 'こ', 'も', 'り'),
 ('ん', 'こ', 'も', 'り', 'も'),
 ('こ', 'も', 'り', 'も', 'り'),
 ('も', 'り', 'も', 'り', '森'),
 ('り', 'も', 'り', '森', '鴎'),
 ('も', 'り', '森', '鴎', '外'),
 ('う', 'ん', 'こ', 'も', 'り', 'も'),
 ('ん', 'こ', 'も', 'り', 'も', 'り'),
 ('こ', 'も', 'り', 'も', 'り', '森'),
 ('も', 'り', 'も', 'り', '森', '鴎'),
 ('り', 'も', 'り', '森', '鴎', '外'),
 ('う', 'ん', 'こ', 'も', 'り', 'も', 'り'),
 ('ん', 'こ', 'も', 'り', 'も', 'り', '森'),
 ('こ', 'も', 'り', 'も', 'り', '森', '鴎'),
 ('も', 'り', 'も', 'り', '森', '鴎', '外'),
 ('う', 'ん', 'こ', 'も', 'り', 'も', 'り', '森'),
 ('ん', 'こ', 'も', 'り', 'も', 'り', '森', '鴎'),
 ('こ', 'も', 'り', 'も', 'り', '森', '鴎', '外'),
 ('う', 'ん', 'こ', 'も', 'り', 'も', 'り', '森', '鴎'),
 ('ん', 'こ', 'も', 'り', 'も', 'り', '森', '鴎', '外'),
 ('う', 'ん', 'こ', 'も', 'り', 'も', 'り', '森', '鴎', '外')]

In [7]:
#組み合わせの総和ができる
list(substrings('abcd'))

[('a',),
 ('b',),
 ('c',),
 ('d',),
 ('a', 'b'),
 ('b', 'c'),
 ('c', 'd'),
 ('a', 'b', 'c'),
 ('b', 'c', 'd'),
 ('a', 'b', 'c', 'd')]

In [10]:
list(substrings(('ポルコ','まるこ','ジーナ')))

[('ポルコ',),
 ('まるこ',),
 ('ジーナ',),
 ('ポルコ', 'まるこ'),
 ('まるこ', 'ジーナ'),
 ('ポルコ', 'まるこ', 'ジーナ')]

In [12]:
list(substrings(['ポルコ','まるこ','ジーナ']))

[('ポルコ',),
 ('まるこ',),
 ('ジーナ',),
 ('ポルコ', 'まるこ'),
 ('まるこ', 'ジーナ'),
 ('ポルコ', 'まるこ', 'ジーナ')]

In [13]:
list(substrings({'ポルコ':1,'まるこ':2,'ジーナ':3}))

[('ポルコ',),
 ('まるこ',),
 ('ジーナ',),
 ('ポルコ', 'まるこ'),
 ('まるこ', 'ジーナ'),
 ('ポルコ', 'まるこ', 'ジーナ')]

In [14]:
list(substrings({1:'ポルコ',2:'まるこ',3:'ジーナ'}))

[(1,), (2,), (3,), (1, 2), (2, 3), (1, 2, 3)]

In [15]:
[ chr(i) for i in range(12354,12360)]

['あ', 'ぃ', 'い', 'ぅ', 'う', 'ぇ']

In [16]:
a = np.array([ chr(i) for i in range(12354,12360)],dtype="object")

In [18]:
type(a)

numpy.ndarray

In [17]:
list(substrings(a))

[('あ',),
 ('ぃ',),
 ('い',),
 ('ぅ',),
 ('う',),
 ('ぇ',),
 ('あ', 'ぃ'),
 ('ぃ', 'い'),
 ('い', 'ぅ'),
 ('ぅ', 'う'),
 ('う', 'ぇ'),
 ('あ', 'ぃ', 'い'),
 ('ぃ', 'い', 'ぅ'),
 ('い', 'ぅ', 'う'),
 ('ぅ', 'う', 'ぇ'),
 ('あ', 'ぃ', 'い', 'ぅ'),
 ('ぃ', 'い', 'ぅ', 'う'),
 ('い', 'ぅ', 'う', 'ぇ'),
 ('あ', 'ぃ', 'い', 'ぅ', 'う'),
 ('ぃ', 'い', 'ぅ', 'う', 'ぇ'),
 ('あ', 'ぃ', 'い', 'ぅ', 'う', 'ぇ')]

In [21]:
s=pd.Series([ chr(i) for i in range(12360,12365)])

In [22]:
type(s)

pandas.core.series.Series

In [23]:
s

0    え
1    ぉ
2    お
3    か
4    が
dtype: object

In [24]:
list(substrings(s))

[('え',),
 ('ぉ',),
 ('お',),
 ('か',),
 ('が',),
 ('え', 'ぉ'),
 ('ぉ', 'お'),
 ('お', 'か'),
 ('か', 'が'),
 ('え', 'ぉ', 'お'),
 ('ぉ', 'お', 'か'),
 ('お', 'か', 'が'),
 ('え', 'ぉ', 'お', 'か'),
 ('ぉ', 'お', 'か', 'が'),
 ('え', 'ぉ', 'お', 'か', 'が')]

In [25]:
df_tmp = pd.DataFrame([[ chr(i) for i in range(12360,12365)],[ chr(i) for i in range(12370,12375)]])

In [26]:
type(df_tmp)

pandas.core.frame.DataFrame

In [27]:
df = df_tmp.T
df.columns=["k","v"]

In [28]:
df

   k  v
0  え  げ
1  ぉ  こ
2  お  ご
3  か  さ
4  が  ざ

In [29]:
list(substrings(df))

[('k',), ('v',), ('k', 'v')]

In [30]:
df[["k","v"]]

   k  v
0  え  げ
1  ぉ  こ
2  お  ご
3  か  さ
4  が  ざ

In [31]:
type(df[["k","v"]])

pandas.core.frame.DataFrame

In [32]:
list(substrings(df[["k","v"]]))

[('k',), ('v',), ('k', 'v')]

In [34]:
list(substrings(df[["k"]]))

[('k',)]