In [13]:
from more_itertools import *
import numpy as np
import pandas as pd

/home/kuraine/.local/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
#適用範囲を広げている
help(adjacent)

Help on function adjacent in module more_itertools.more:

adjacent(predicate, iterable, distance=1)
    Return an iterable over `(bool, item)` tuples where the `item` is
    drawn from *iterable* and the `bool` indicates whether
    that item satisfies the *predicate* or is adjacent to an item that does.

    For example, to find whether items are adjacent to a ``3``::

        >>> list(adjacent(lambda x: x == 3, range(6)))
        [(False, 0), (False, 1), (True, 2), (True, 3), (True, 4), (False, 5)]

    Set *distance* to change what counts as adjacent. For example, to find
    whether items are two places away from a ``3``:

        >>> list(adjacent(lambda x: x == 3, range(6), distance=2))
        [(False, 0), (True, 1), (True, 2), (True, 3), (True, 4), (True, 5)]

    This is useful for contextualizing the results of a search function.
    For example, a code comparison tool might want to identify lines that
    have changed, but also surrounding lines to give the viewer of the diff
    context.

    The predicate function will only be called once for each item in the
    iterable.

    See also :func:`groupby_transform`, which can be used with this function
    to group ranges of items with the same `bool` value.

In [6]:
[*range(6)]

[0, 1, 2, 3, 4, 5]

In [8]:
list(adjacent(lambda x: x == 3, range(6)))

[(False, 0), (False, 1), (True, 2), (True, 3), (True, 4), (False, 5)]

In [10]:
list(adjacent(lambda x: x == 3, range(6),distance=0))

[(False, 0), (False, 1), (False, 2), (True, 3), (False, 4), (False, 5)]

In [11]:
list(adjacent(lambda x: x == 3, range(6),distance=-1))

ValueError: distance must be at least 0

In [12]:
list(adjacent(lambda x: x == 3, range(6),distance=2))

[(False, 0), (True, 1), (True, 2), (True, 3), (True, 4), (True, 5)]

In [15]:
a=list(adjacent(lambda x: x == 3, range(6)))

In [16]:
a

[(False, 0), (False, 1), (True, 2), (True, 3), (True, 4), (False, 5)]

In [22]:
df = pd.DataFrame(a,columns=["bool","val"])

In [23]:
df

    bool  val
0  False    0
1  False    1
2   True    2
3   True    3
4   True    4
5  False    5

In [26]:
df[df["bool"]==True]

   bool  val
2  True    2
3  True    3
4  True    4

In [27]:
df[df["bool"]==False]

    bool  val
0  False    0
1  False    1
5  False    5